@import "./devextreme/variables.base";
// add your custom variables here
$card-shadow: rgba(63, 63, 63, 0.14) 0px 1px 3px 0px, rgba(63, 63, 63, 0.15) 0px 1px 2px 0.5px;
$base-selected-bg: rgba(0,150,136, 0.5);
$base-hovered-bg: rgba(0,150,136, 0.8);
